*.beam
*.dump
*.so
*/*/ebin/*
*~
build.deps
data
lib/referl_core/src/refcore_erl_nodes.erl
lib/referl_core/src/refcore_erl_parser.erl
lib/referl_core/src/refcore_erl_parser.yrl
lib/referl_core/src/refcore_erl_scanner.erl
lib/referl_core/src/refcore_erl_schema.hrl
lib/referl_core/src/refcore_gen_syn.erl
lib/referl_ui/nitrogen/apps/nprocreg/ebin/
lib/referl_user/src/refusr_ac_parser.erl
lib/referl_user/src/refusr_m_lexer.erl
lib/referl_user/src/refusr_m_parser.erl
lib/referl_user/src/refusr_sq_lexer.erl
refactorerl.boot
refactorerl.rel
refactorerl.script
